@import 'tailwindcss';
@config "../tailwind.config.js";

:root {
  svg {
    width: 24px;
    height: 24px;
  }
}

@theme {
  --color-primary-900: #c96b0a;
  --color-primary-700: #e08922;
  --color-primary-500: #f9ae3b;
  --color-primary-200: #ffd15c;
  --color-primary-100: #ffe48a;

  --color-accent-900: #9c2116;
  --color-accent-700: #c73629;
  --color-accent-500: #e84d3d;
  --color-accent-300: #ff725e;
  --color-accent-100: #fe9e90;

  --color-gray-100: #ffffff;
  --color-gray-200: #fafafa;
  --color-gray-300: #f5f5f5;
  --color-gray-400: #e0e0e0;
  --color-gray-500: #bdbdbd;
  --color-gray-600: #999999;
  --color-gray-700: #6e6e6e;
  --color-gray-800: #2e2e2e;
  --color-gray-900: #000000;

  --color-success: #28c76f;
  --color-warning: #ff9f43;
  --color-error: #ea5455;
  --color-info: #5d9cec;

  /* spacing */

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
