@import 'tailwindcss';
@config "../tailwind.config.js";

:root {
  svg {
    width: 24px;
    height: 24px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

@theme {
  --color-primary-900: #18144f;
  --color-primary-800: #251f72;
  --color-primary-700: #342c95;
  --color-primary-600: #3f34b2;
  --color-primary-500: #493ccf;
  --color-primary-400: #5441d5;
  --color-primary-300: #725cdc;
  --color-primary-200: #8e7ae3;
  --color-primary-100: #afa0ea;

  --color-accent-900: #44b39c;
  --color-accent-700: #71ddba;
  --color-accent-500: #a2f2d2;
  --color-accent-300: #c4f4e0;
  --color-accent-100: #e6faf2;

  --color-gray-100: #ffffff;
  --color-gray-200: #e9ebec;
  --color-gray-300: #d1d4d6;
  --color-gray-400: #afb3b6;
  --color-gray-500: #96999c;
  --color-gray-600: #7c8083;
  --color-gray-700: #565a5d;
  --color-gray-800: #303336;
  --color-gray-900: #000000;

  --color-success: #28c76f;
  --color-success-100: #28c76f1a;
  --color-warning: #ffc542;
  --color-error: #ff5a5a;
  --color-error-100: #ff5a5a1a;
  --color-info: #6faff9;

  --color-notification-badge: #ff2c20;

  /* spacing */

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
