@import 'tailwindcss';
@config "../tailwind.config.js";

:root {
  svg {
    width: 24px;
    height: 24px;
  }
}

::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

@theme {
  --color-primary-900: #302688;
  --color-primary-800: #3c30a6;
  --color-primary-700: #493ac5;
  --color-primary-600: #5544e3;
  --color-primary-500: #6351fe;
  --color-primary-400: #8375f8;
  --color-primary-300: #9d92fa;
  --color-primary-200: #b0a8f9;
  --color-primary-100: #c2bcf9;

  --color-accent-900: #44b39c;
  --color-accent-700: #71ddba;
  --color-accent-500: #a2f2d2;
  --color-accent-300: #c4f4e0;
  --color-accent-100: #e6faf2;

  --color-gray-100: #ffffff;
  --color-gray-200: #f2f3f3;
  --color-gray-300: #d3d6d8;
  --color-gray-400: #bdc1c4;
  --color-gray-500: #979c9f;
  --color-gray-600: #767b7e;
  --color-gray-700: #515558;
  --color-gray-800: #2b2e31;
  --color-gray-900: #000000;

  --color-success: #28c76f;
  --color-success-100: #28c76f1a;
  --color-warning: #ffc542;
  --color-error: #ff5a5a;
  --color-error-100: #ff5a5a1a;
  --color-info: #6faff9;

  --color-notification-badge: #ff2c20;

  /* spacing */

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}
